APP_NAME=CarStrado
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://carstrado.com

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=autobrokers
DB_USERNAME=autobrokers
DB_PASSWORD=change_this_password

SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"

COMPANY_NAME="BASILDON LIMITED"
COMPANY_NUMBER="16290553"
COMPANY_ADDRESS="2 Navarre Street, London, England, E2 7JH"
COMPANY_EMAIL="support@carstrado.com"
COMPANY_PHONE="+44 20 7946 0912"
COMPANY_DESK="London HQ"
